.container {
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .bonding {
  background: var(--Black);
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 54px;
  gap: 44px;
}

.container .bonding .text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container .bonding .title {
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 31.5px */
}

.container .bonding .blth {
  color: var(--Yellow);
  font-family: "Litheum Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.container .bonding .supply {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container .bonding .supply p {
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

/* .prize-box-container {
} */

.prize-box-container .sold {
  color: var(--Yellow);
  font-family: "Litheum Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-left: 20%;
  margin-bottom: 5.85px;
}

.prize-box-container .prize-box {
  border-radius: 27px;
  background: #151515;
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.prize-box-container .prize-box .total-supply {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 14px;
}

.prize-box-container .prize-box .total-supply .align {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.prize-box-container .prize-box .total-supply .align img {
  width: 100%;
}

.prize-box-container .prize-box .total-supply .text-supply {
  text-align: center;
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 8.8px */
  text-transform: uppercase;
}

.prize-box-container .prize-box .total-supply .text-blth {
  width: auto;
  text-wrap: nowrap;
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
}

.prize-box-container .prize-box .progress-line {
  border-radius: 40px;
  background: var(--Dark-Green);
  width: 100%;
  display: flex;
}

.prize-box-container .prize-box .progress {
  border-radius: 40px;
  background: var(--Yellow);
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 11.8px 20.94px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.prize-box-container .prize-box .progress .min-amount {
  color: var(--Black);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.prize-box-container .prize-box .progress-line .amounts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 58%;
  padding-right: 11.8px;
  padding-left: 11.8px;
}

.prize-box-container .prize-box .progress-line .amounts .max-amount {
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: -0.2px;
}

.prize-box-container .prize-box .currency-lim {
  color: var(--Yellow);
  font-family: "Litheum Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
}

.prize-box-container .prize-box .prizes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 8.15px;
}

.prize-box-container .prize-box .prizes .amount {
  color: var(--White);
  font-family: "Litheum Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.prize-box-container .prize-box .prizes .current {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: -15%;
}

.prize-box-container .prize-box .prizes .current .text {
  color: var(--Yellow);
  text-align: center;
  font-family: "Litheum Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.48px;
}

.prize-box-container .prize-box .prizes .current .text.cur {
  font-size: 8px;
}

.container .box-container {
  width: 940px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;
  flex-direction: column;
}

.box-container .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 561.203px;
  margin-top: 10px;
}

.box-container .info .tax {
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: 0.4px;
}

.box-container .info .detail {
  color: var(--White);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: 0.4px;
  text-decoration-line: underline;
  cursor: pointer;
}

.container .bonding .detail-btn {
  width: 100%;
}

.container .bonding .detail {
  color: var(--White);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: 0.4px;
  text-align: right;
  margin-top: 8px;
  cursor: pointer;
}

.box {
  background: var(--Black);
  border-radius: 32px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 561.203px;
  justify-content: center;
  position: relative;
}

.box .boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.box .boxes .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .boxes .arrow img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.box .currency-box {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 24px;
  background: #1b1b1b;
}

.box .currency-box .first-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.box .currency-box .first-content .paid {
  color: var(--Yellow);
  font-family: "Litheum Title";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.box .currency-box .first-content .amount {
  color: var(--Beige);
  font-family: "Litheum Title";
  font-size: 30px;

  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 45.777px */
  letter-spacing: 1.665px;
  text-transform: uppercase;

  background: transparent;
  border: none;
}

.box .currency-box .first-content input:focus{
  outline: none;
}

.box .currency-box .first-content .amount.blth {
  margin-bottom: 16px;
}

.box .currency-box .first-content .max {
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: 0.4px;
}

.box .currency-box .first-content .max .edit {
  color: var(--White);
  cursor: pointer;
}

.box .currency-box .second-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 9px;
}

.box .currency-box .second-content .currency {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 9.671px;
  border-radius: 45px;
  border: 0.645px solid rgba(82, 82, 41, 0.5);
  background: var(--Black);
}

.box .currency-box .second-content .currency p {
  color: #fff;
  font-family: "Litheum Title";
  font-size: 17.927px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24.532px */
  letter-spacing: 0.613px;
  text-transform: uppercase;
}

.box .currency-box .second-content .balance {
  color: var(--Beige);
  text-align: right;
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11px */
  letter-spacing: 0.4px;
}

.box .swap-btn {
  display: flex;
  height: 80px;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--Yellow);
  color: #000;
  text-align: center;
  cursor: pointer;

  /* Sub-header mob */
  font-family: "Litheum Title";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 30.8px */
  transition: all 0.5s;
}

.box .swap-btn:disabled {
  background: #7a7d3d;
  color: #525229;
}

.box .swap-btn:hover {
  background: #c5c3ae;
}

@media screen and (max-width: 1084px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
  .container .bonding {
    width: 100%;
    padding: 0px 19.5px;
  }
  .container .box-container {
    width: 100%;
    padding: 0px 20px;
  }
  .box {
    width: 100%;
  }
  .box .currency-box .first-content .paid {
    font-size: 8px;
  }
  .box .currency-box .first-content .amount {
    font-size: 24px;
  }
  .box .currency-box .first-content .max {
    font-size: 8px;
  }
  .box .currency-box .second-content .currency {
    padding: 6px;
    gap: 6px;
  }
  .box .currency-box .second-content .currency img {
    height: 11.983px;
    width: 11.983px;
  }
  .box .currency-box .second-content .currency p {
    font-size: 10.222px;
  }
  .box .currency-box .second-content .balance {
    font-size: 8px;
  }
  .prize-box-container .prize-box .total-supply .align {
    gap: 12px;
  }
  .box-container .info {
    width: 100%;
  }
}

.popup-bg {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.editing-popup {
  position: absolute;
  z-index: 9999;
  display: flex;
  width: 441px;
  padding: 9px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  border-radius: 16px;
  background: var(--White);
  top: 30%;
  left: 10%;
  display: none;
}

.editing-popup .percentage {
  display: flex;
  height: 32.566px;
  padding: 7px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: rgba(122, 125, 61, 0.3);
}

.editing-popup .percentage p {
  color: var(--Black);

  /* NAV/Nav Link */
  font-family: "Litheum Title";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.editing-popup .lost-fee {
  color: var(--Black);
  font-family: "Litheum Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin-bottom: 18px;
}

.editing-popup .btn-container {
  width: 100%;
}

.editing-popup .close-btn {
  background: transparent;
  border: none;
  margin: auto;
  width: 100%;
}

.editing-popup .close-btn p {
  color: var(--Black);
  font-family: "Litheum Title";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.token-popup {
  width: 617.174px;
  flex-shrink: 0;
  border-radius: 33px;
  border: 0.7px solid rgba(122, 125, 61, 0.5);
  background: rgba(27, 27, 27, 0.7);
  backdrop-filter: blur(13.399999618530273px);
  padding: 65px 90px;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-popup .close-icon {
  position: absolute;
  top: 22px;
  right: 22px;
}

.token-popup .title {
  color: var(--Beige);
  font-family: "Litheum Title";
  font-size: 34.043px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 37.447px */
  margin-bottom: 31.88px;
}

.token-popup .graph {
  width: 378.098px;
  height: 395.836px;
}

.token-popup .fee {
  color: var(--Beige);
  font-family: "Litheum Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 11px */
  letter-spacing: 0.4px;
  margin-top: 32.08px;
  text-align: center;
}
